USE [emb]
GO
/****** Object:  Table [dbo].[T_User]    Script Date: 02/13/2014 14:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_User](
	[nId] [bigint] IDENTITY(1,1) NOT NULL,
	[strGuid] [varchar](128) NULL,
	[strCode] [varchar](50) NULL,
	[strName] [nvarchar](50) NULL,
	[strPassword] [varchar](50) NULL,
	[strRegisterSys] [nvarchar](256) NULL,
	[tCreateTime] [datetime] NULL,
 CONSTRAINT [PK_T_User] PRIMARY KEY CLUSTERED 
(
	[nId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_TranscodeTask]    Script Date: 02/13/2014 14:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_TranscodeTask](
	[ProgramID] [varchar](50) NULL,
	[ProgramName] [varchar](256) NULL,
	[MachineID] [varchar](50) NULL,
	[PRI] [int] NULL,
	[ClipSize] [real] NULL,
	[MD5] [char](64) NULL,
	[Status] [int] NULL,
	[FileName] [varchar](256) NULL,
	[FirstTime] [datetime] NULL,
	[TaskGUID] [varchar](80) NULL,
	[TaskCurrentGUID] [varchar](50) NULL,
	[TaskPreStepGUID] [varchar](50) NULL,
	[UserToken] [varchar](50) NULL,
	[SourceSystemID] [varchar](50) NULL,
	[Version] [varchar](20) NULL,
	[Requesttime] [varchar](20) NULL,
	[Requestid] [varchar](80) NULL,
	[HeadStatus] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[Userpass] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
	[TaskInstID] [varchar](80) NULL,
	[Serviceid] [varchar](50) NULL,
	[ServiceMethod] [varchar](50) NULL,
	[FTPIP] [varchar](20) NULL,
	[FTPUser] [varchar](50) NULL,
	[FTPPass] [varchar](50) NULL,
	[FTPPort] [int] NULL,
	[strMZGuid] [varchar](128) NULL,
	[nTaskID] [bigint] IDENTITY(1,1) NOT NULL,
	[nRetryNum] [int] NULL,
	[nSec] [int] NULL,
	[nPercent] [int] NULL,
	[nPreChange] [int] NULL,
	[SrcAudioFile] [varchar](255) NULL,
	[SrcAudioFile1] [varchar](255) NULL,
	[DesVideoFile] [varchar](255) NULL,
	[DesAudioFile] [varchar](255) NULL,
	[DesAudioFile1] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_EMBTaskLog]    Script Date: 02/13/2014 14:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_EMBTaskLog](
	[strTaskID] [varchar](512) NULL,
	[time] [datetime2](7) NULL,
	[nState] [int] NULL,
	[Remark] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_EMBTask]    Script Date: 02/13/2014 14:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_EMBTask](
	[nTaskID] [bigint] IDENTITY(1,1) NOT NULL,
	[strTaskID] [nvarchar](512) NOT NULL,
	[strTaskName] [varchar](512) NULL,
	[strTaskKind] [varchar](50) NULL,
	[strUserCode] [varchar](50) NULL,
	[strUserName] [varchar](50) NULL,
	[strTaskFrom] [varbinary](50) NULL,
	[nPRI] [int] NOT NULL,
	[tSubmitTime] [datetime] NULL,
	[nState] [int] NOT NULL,
	[nRetry] [int] NULL,
	[strExtendInfoXml] [varchar](max) NULL,
	[nDispatchID] [int] NULL,
	[nActorID] [int] NULL,
 CONSTRAINT [PK_T_EMBTask] PRIMARY KEY CLUSTERED 
(
	[nTaskID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_EMBLog]    Script Date: 02/13/2014 14:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_EMBLog](
	[time] [datetime2](7) NULL,
	[nSvrCode] [int] NULL,
	[nType] [int] NULL,
	[strRemark] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTransTask]    Script Date: 02/13/2014 14:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetTransTask]
as

--begin tran t1
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
BEGIN TRANSACTION

Declare @nTask int
select top 1 @nTask=nTaskID from T_TranscodeTask with(TABLOCKX)  where Status=0 order by PRI Desc
select * from T_TranscodeTask where nTaskID=@nTask
update T_TranscodeTask set Status=1 where nTaskID=@nTask
if @@error <> 0
begin
	ROLLBACK TRANSACTION
	return (0)
end

COMMIT TRANSACTION
GO
